@page "/"

<PageTitle>Index</PageTitle>


<h1 class="about-Title">WELCOME TO HEALTHEXPRESS PHARMACY</h1>
<div class="about-container">
    <img src="https://images.unsplash.com/photo-1576091358783-a212ec293ff3?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
    <h3>About HealthExpress.</h3>
    <p>Welcome to HealthExpress Pharmacy, your one-stop destination for all your pharmaceutical needs. At HealthExpress, we are dedicated to providing high-quality medications and exceptional customer service to ensure your health and well-being.</p>
    <p>With a team of experienced pharmacists and staff, we strive to offer personalized care and expert advice to help you manage your health effectively. Whether you need prescription medications, over-the-counter products, or healthcare advice, we are here to assist you every step of the way.</p>
    <p>At HealthExpress Pharmacy, we prioritize your convenience and satisfaction. Our modern facilities and online services make it easy for you to access the medications you need, when you need them. We also offer competitive prices and special promotions to help you save on your healthcare expenses.</p>
    <p>Thank you for choosing HealthExpress Pharmacy. We look forward to serving you and contributing to your health and wellness journey.</p>

</div>

